<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 v-if="!item.id" class="panel-title">Create Project</h3>
                    <h3 v-if="item.id" class="panel-title">Edit Project</h3>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <form v-on:submit.prevent="onSubmit">

                <input v-if="item.id" v-model="item.id" type="hidden" />

                <div class="form-group">
                    <label for="number" class="control-label">Number:</label>
                    <input type="text" required class="form-control" v-model="item.number" name="number" id="number">
                </div>

                <div class="form-group">
                    <label for="title" class="control-label">Title:</label>
                    <input type="text" required class="form-control" v-model="item.title" name="title" id="title">
                </div>

                <div class="form-group">
                    <label for="manager" class="control-label">Manager:</label><br>
                    <v-select v-model="item.manager" name="manager_id" id="manager" :options="users" label="name"></v-select>
                </div>

                <div class="form-group">
                    <label for="priority" class="control-label">Business Priority:</label><br>
                    <v-select v-model="item.priority" name="priority_id" id="priority" :options="priorities"></v-select>
                </div>

                <div class="form-group">
                    <label for="category" class="control-label">Category:</label><br>
                    <v-select v-model="item.category" name="category_id" id="category" :options="categories"></v-select>
                </div>

                <div class="form-group">
                    <label for="category" class="control-label">Status:</label><br>
                    <v-select v-model="item.status" name="status_id" id="statuses" :options="statuses"></v-select>
                </div>

                <div class="form-group">
                    <label for="zones" class="control-label">Progress:</label><br>
                    <v-select v-model="item.zone" name="zone_id" id="zones" :options="zones"></v-select>
                </div>

                <div class="form-group">
                    <label for="due_date" class="control-label">Due Date:</label>
                    <datepicker v-model="item.due_date" name="due_date" id="due_date" input-class="form-control" required format="dd/MM/yyyy"></datepicker>
                </div>

                <div class="form-group">
                    <label for="forecast_date" class="control-label">Forecast Date:</label>
                    <datepicker v-model="item.forecast_date" name="forecast_date" id="forecast_date" input-class="form-control" required format="dd/MM/yyyy"></datepicker>
                </div>

                <div class="form-group">
                    <label for="completed_date" class="control-label">Completed Date:</label>
                    <datepicker v-model="item.completed_date" name="completed_date" id="completed_date" input-class="form-control" required format="dd/MM/yyyy"></datepicker>
                </div>

                <div class="form-group">
                    <input v-if="!item.id" type="submit" class="btn btn-success" value="Create" />
                    <input v-if="item.id" type="submit" class="btn btn-success" value="Update" />
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'
    import Datepicker from 'vuejs-datepicker';
    import vSelect from 'vue-select';

    let paths = {
        index: '/projects/create/load',
        get: '/projects/get/',
        create: '/projects/create',
        update: '/projects/update/',
    };

    export default {
        components: {
            Datepicker, vSelect
        },
        data: () => ({
            item: {
                id: undefined,
                number: undefined,
                title: undefined,
                priority_id: undefined,
                category_id: undefined,
                status_id: undefined,
                zone_id: undefined,
                due_date: undefined,
                forecast_date: undefined,
                completed_date: undefined,
                manger_id: undefined,
            },
            priorities: [],
            categories: [],
            statuses: [],
            zones: [],
            users: [],
        }),

        computed: {

        },

        mounted() {
            window.onLoad();

            this.item.id = this.$route.params.project;

            axios.get(paths.index)
                .then(response => {
                    this.priorities = response.data.priorities;
                    this.categories = response.data.categories;
                    this.statuses = response.data.statuses;
                    this.zones = response.data.zones;
                    this.users = response.data.users;

                    if (this.item.id !== undefined) {
                        this.loadProject();
                    }
                })
                .catch(e => {
                    return VueNotifications.error({message: e.response.data.message});
                })
            ;
        },

        methods: {
            loadProject() {
                axios.get(paths.get + this.item.id)
                    .then(response => {
                        this.item = response.data.project;
                    })
                ;
            },

            onSubmit() {
                if (
                    !this.item.priority || !this.item.category || !this.item.status ||
                    !this.item.zone || !this.item.manager || !this.item.due_date ||
                    !this.item.forecast_date || !this.item.completed_date
                ) {
                    return VueNotifications.error({message: 'Please fill the form, all fields are required'});
                }

                this.item.priority_id = this.item.priority.id;
                this.item.category_id = this.item.category.id;
                this.item.status_id = this.item.status.id;
                this.item.zone_id = this.item.z.id;
                this.item.manager_id = this.item.manager.id;

                if (this.item.id) {
                    var path = paths.update + this.item.id;
                    var message = 'Project was updated';
                } else {
                    var path = paths.create;
                    var message = 'Project was created';
                }

                axios.post(path, this.item)
                    .then(response => {
                        VueNotifications.success({message: message});

                        this.$nextTick(function() {
                            this.$router.push('/projects/view/' + response.data.project.id);
                        });
                    })
                    .catch(e => {
                        return VueNotifications.error({message: e.response.data.message});
                    })
                ;
            }
        }
    }
</script>