<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Projects</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <router-link type="button" class="btn btn-sm btn-primary" to="/projects/create">Create New</router-link>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <template v-for="(item, indexCategory) in items" v-if="item.projects.length">
                <div>
                    <!--<data-filter provider="statistic"></data-filter>-->
                    <h3>{{item.label}}</h3>
                    <hr>
                </div>

                <table style="margin-bottom: 70px;" class="table table-hover">
                    <thead>
                        <tr>
                            <th width="3%">#</th>
                            <th>Number</th>
                            <th width="20%">Title</th>
                            <th>Manager</th>
                            <th>Business Priority</th>
                            <th>Status</th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th>Due Date</th>
                            <th>Forecast Date</th>
                            <th>Completed Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(entry, index) in item.projects">
                            <td>{{entry.id}}</td>
                            <td>{{entry.number}}</td>
                            <td>
                                <router-link :to="{ name: 'ProjectsView', params: { project: entry.id }}">{{entry.title}}</router-link>
                            </td>
                            <td>{{entry.manager.name}}</td>
                            <td>{{entry.priority.label}}</td>
                            <td>{{entry.status.label}}</td>
                            <td>{{entry.category.label}}</td>
                            <td>{{entry.zone.label}}</td>
                            <td>{{entry.due_date}}</td>
                            <td>{{entry.forecast_date}}</td>
                            <td>{{entry.completed_date}}</td>
                            <td>
                                <div class="btn-group">
                                    <router-link class="btn btn-success" :to="{ name: 'ProjectsView', params: { project: entry.id }}"><i class="fa fa-eye"></i></router-link>
                                    <router-link class="btn btn-primary" :to="{ name: 'ProjectsUpdate', params: { project: entry.id }}"><i class="fa fa-edit"></i></router-link>
                                    <a class="btn btn-danger" @click="remove(index, indexCategory)"><i class="fa fa-remove"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </template>
        </div>
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'
    import swal from 'sweetalert2'

    let paths = {
        index: '/projects/load',
        delete: '/projects/delete/',
    };

    export default {
        data: () => ({
            items: [],
        }),

        mounted() {
            axios.get(paths.index)
                .then(response => {
                    this.items = response.data.categories;
                })
                .catch(e => {
                    return VueNotifications.error({message: e.response.data.message});
                })
            ;
        },

        methods: {
            remove(index, indexCategory) {
                var self = this;

                swal({
                    title: 'Are you sure?',
                    text: 'Deleting this project will also remove associated tasks, documents and deliverables.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it'
                }).then(function() {
                    axios.delete(paths.delete + self.items[indexCategory]['projects'][index].id)
                        .then(response => {
                            self.items[indexCategory]['projects'].splice(index, 1);
                        })
                        .catch(e => {
                            return VueNotifications.error({message: 'Server Error'});
                        })
                    ;
                }, function(dismiss) {
                    // dismiss can be 'overlay', 'cancel', 'close', 'esc', 'timer'
                    if (dismiss === 'cancel') {
                        swal(
                            'Cancelled',
                            'Your imaginary file is safe :)',
                            'error'
                        )
                    }
                })
            }
        }
    }
</script>
