<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Project Details</h3>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table style="width: 50%;" class="table table-view table-hover">
                    <tbody>
                        <tr>
                            <td width="20%">Number</td>
                            <td>{{item.number}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Title</td>
                            <td>{{item.title}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Manager</td>
                            <td>{{item.manager.name}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Priority</td>
                            <td>{{item.priority.label}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Category</td>
                            <td>{{item.category.label}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Status</td>
                            <td>{{item.status.label}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Progress</td>
                            <td>{{item.zone.label}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Due Date</td>
                            <td>{{item.due_date}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Forecast Date</td>
                            <td>{{item.forecast_date}}</td>
                        </tr>
                        <tr>
                            <td width="20%">Completed Date</td>
                            <td>{{item.completed_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Deliverables</h3>
                    </div>

                    <div class="col col-xs-6 text-right">
                        <router-link type="button" class="btn btn-sm btn-primary" :to="{ name: 'DeliverableCreate', query: { project_id: item.id }}">Create New</router-link>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-hover" v-if="item.deliverables.length">
                    <thead>
                        <tr>
                            <th width="3%">#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Level</th>
                            <th>Due Date</th>
                            <th>Forecast Date</th>
                            <th>Completed Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="" v-for="(entry, index) in item.deliverables">
                            <td>{{entry.id}}</td>
                            <td>{{entry.title}}</td>
                            <td>{{entry.description}}</td>
                            <td>{{entry.level.label}}</td>
                            <td>{{entry.due_date}}</td>
                            <td>{{entry.forecast_date}}</td>
                            <td>{{entry.completed_date}}</td>
                            <td>
                                <div class="btn-group">
                                    <!--<router-link class="btn btn-success" :to="{ name: 'ProjectsView', params: { project: entry.id }}"><i class="fa fa-eye"></i></router-link>-->
                                    <router-link class="btn btn-primary" :to="{ name: 'DeliverableUpdate', params: { deliverable: entry.id }}"><i class="fa fa-edit"></i></router-link>
                                    <a class="btn btn-danger" @click="removeDeliverable(index)"><i class="fa fa-remove"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: center;" v-else>
                    <p>Deliverables not found</p>
                </div>
            </div>
        </div>

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<div class="row">-->
                    <!--<div class="col col-xs-6">-->
                        <!--<h3 class="panel-title">Documents</h3>-->
                    <!--</div>-->

                    <!--<div class="col col-xs-6 text-right">-->
                        <!--<router-link type="button" class="btn btn-sm btn-primary" :to="{ name: 'DocumentCreate', query: { project_id: item.id }}">Create New</router-link>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="panel-body">-->
                <!--<table class="table table-hover" v-if="item.documents.length">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th width="3%">#</th>-->
                        <!--<th>Title</th>-->
                        <!--<th>Action</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr v-if="" v-for="(entry, index) in item.documents">-->
                        <!--<td>{{entry.id}}</td>-->
                        <!--<td>{{entry.title}}</td>-->
                        <!--<td>-->
                            <!--<div class="btn-group">-->
                                <!--&lt;!&ndash;<router-link class="btn btn-success" :to="{ name: 'ProjectsView', params: { project: entry.id }}"><i class="fa fa-eye"></i></router-link>&ndash;&gt;-->
                                <!--<router-link class="btn btn-primary" :to="{ name: 'DocumentUpdate', params: { deliverable: entry.id }}"><i class="fa fa-edit"></i></router-link>-->
                                <!--<a class="btn btn-danger" @click="removeDocument(index)"><i class="fa fa-remove"></i></a>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <!--<div style="text-align: center;" v-else>-->
                    <!--<p>Documents not found</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'
    import Datepicker from 'vuejs-datepicker';
    import vSelect from 'vue-select';
    import swal from 'sweetalert2'

    let paths = {
        index: '/projects/get/',
        deliverable: {
            delete: '/projects/deliverable/delete/'
        },
        document: {
            delete: '/documents/delete/'
        }
    };

    export default {
        components: {
            Datepicker, vSelect
        },
        data: () => ({
            item: {
                number: undefined,
                title: undefined,
                priority_id: undefined,
                category_id: undefined,
                status_id: undefined,
                zone_id: undefined,
                due_date: undefined,
                forecast_date: undefined,
                completed_date: undefined,
                manager_id: undefined,
                deliverables: {},
                documents: {},
                manager: {label: true},
                status: {label: true},
                zone: {label: true},
                category: {label: true},
                priority: {label: true},
            },
            priorities: [],
            categories: [],
            statuses: [],
            zones: [],
        }),

        mounted() {
            window.onLoad();

            axios.get(paths.index + this.$route.params.project)
                .then(response => {
                    this.item = response.data.project;
//                    this.priorities = response.data.priorities;
//                    this.categories = response.data.categories;
//                    this.statuses = response.data.statuses;
//                    this.zones = response.data.zones;
                })
                .catch(e => {
                    return VueNotifications.error({message: e.response.data.message});
                })
            ;
        },

        methods: {
            removeDeliverable(index) {
                var self = this;

                swal({
                    title: 'Are you sure?',
                    text: 'Deleting deliverable.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it'
                }).then(function() {
                    axios.delete(paths.deliverable.delete + self.item.deliverables[index].id)
                        .then(response => {
                            self.item.deliverables.splice(index, 1);
                        })
                        .catch(e => {
                            return VueNotifications.error({message: 'Server Error'});
                        })
                    ;
                }, function(dismiss) {
                    // dismiss can be 'overlay', 'cancel', 'close', 'esc', 'timer'
                    if (dismiss === 'cancel') {
                        swal(
                            'Cancelled',
                            'Your imaginary file is safe :)',
                            'error'
                        )
                    }
                })
            }
        }
    }
</script>