<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Dashboard</h3>
                </div>

                <!--<div class="col col-xs-6 text-right">-->
                <!--<a href="/statistic/download" v-on:click="download($event)" class="btn btn-sm btn-success" title="Скачать отчет">1</a>-->
                <!--<a href="/statistic/download2" v-on:click="download2($event)"  class="btn btn-sm btn-success" title="Скачать отчет">2</a>-->
                <!--</div>-->
            </div>
        </div>

        <div class="panel-body">
            <h4>Coming soon..</h4>
        </div>
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'

    let paths = {
        index: '/dahboard/load',
    };

    export default {
        data: () => ({
            items: [],
        }),

        mounted() {
            window.onLoad();

//            axios.get(paths.index)
//                .then(response => {
//                    this.items = response.data.projects;
//                })
//                .catch(e => {
//                    return VueNotifications.error({message: e.response.data.message});
//                })
//            ;
        },

        methods: {
        }
    }
</script>
