<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Employees</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create" @click="loadCreateForm(undefined)">Create New</button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th width="7%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(entry, index) in items">
                    <td>{{entry.name}}</td>
                    <td>{{entry.email}}</td>
                    <td>{{entry.roles[0].display_name}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" @click="loadCreateForm(index)"><i class="glyphicon glyphicon-edit"></i></a>
                            <a class="btn btn-danger" @click="remove(index)"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal" :class="{ show: modalShown }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" @click="modalShown=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Employee</h4>
                    </div>
                    <div class="modal-body" v-html="formContent" id="formContent"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="modalShown=false">Close</button>
                        <button type="submit" class="btn btn-primary" @click="submitForm($event)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let paths = {
        index: '/employees/load',
        create: {
            getForm: '/employees/create/getForm',
            new: '/employees/create'
        },
        update: '/employees/update',
        delete: '/employees/delete'
    };

    export default {
        data: () => ({
            modalShown: false,
            formContent: '',
            items: [],
        }),

        notifications: {
            showValidationError: {
//                title: 'Ошибка',
                message: 'Все поля обязательны для заполнения',
                type: 'error'
            }
        },

        mounted() {
            window.onLoad();

            axios.get(paths.index)
                .then(response => {
                    this.items = response.data.employees;
                })
                .catch(e => {
                    console.log(e);
                })
            ;
        },

        methods: {
            loadCreateForm(index) {
                let entryId = index !== undefined ? this.items[index].id : '';

                axios.get(paths.create.getForm + '/' + entryId)
                    .then(response => {
                        this.formContent = response.data;

                        this.changeModalShown();
//                        $('.selectpicker').selectpicker();
                    }).catch(e => {
                    console.log(e);
                })
                ;
            },

            remove(index) {
                axios.delete(paths.delete + '/' + this.items[index].id)
                    .then(response => {
                        this.items.splice(index, 1);
                    })
                ;
            },

            submitForm(e) {
                e.preventDefault();
                if (this.formContent.length === 0) return false;

                let form = $('#formContent form');

                if (!form.get(0).checkValidity()) {
                    return this.showValidationError();
                }

                let updateId = parseInt(form.find('input[name="id"]').val());
                let data = form.serialize();

                if (updateId) {
                    this.update(updateId, data)
                        .then(response => {
                            let index = this.indexWhere(this.items, element => element.id == response.data.user.id);

                            this.$set(this.items, index, response.data.user);

                            form.get(0).reset();

                            this.changeModalShown();
                        }).catch(e => {
                        console.log(e);
                    })
                    ;
                } else {
                    this.create(data)
                        .then(response => {
                            this.items.push(response.data.user);
                            form.get(0).reset();

                            this.changeModalShown();
                        }).catch(e => {
                        console.log(e);
                    })
                    ;
                }
            },

            create(data) {
                return axios.post(paths.create.new, data);
            },

            update(id, data) {
                return axios.post(paths.update + '/' + id, data);
            },

            changeModalShown() {
                this.modalShown = !this.modalShown;
            },

            indexWhere(array, conditionFn) {
                const item = array.find(conditionFn);

                return array.indexOf(item);
            }
        }
    }
</script>
