<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 v-if="!item.id" class="panel-title">Create Deliverable</h3>
                    <h3 v-if="item.id" class="panel-title">Edit Deliverable</h3>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <form v-on:submit.prevent="onSubmit">
                <input v-if="item.id" v-model="item.id" type="hidden" />

                <div class="form-group">
                    <label for="title" class="control-label">Title:</label>
                    <input type="text" required class="form-control" v-model="item.title" name="title" id="title">
                </div>

                <div class="form-group">
                    <label for="description" class="control-label">Description:</label>
                    <textarea rows="7" required class="form-control" v-model="item.description" name="description" id="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="level" class="control-label">Level:</label><br>
                    <v-select v-model="item.level" name="level_id" id="level" :options="levels"></v-select>
                </div>

                <div class="form-group">
                    <label for="due_date" class="control-label">Due Date:</label>
                    <datepicker v-model="item.due_date" name="due_date" id="due_date" input-class="form-control" required format="dd/MM/yyyy"></datepicker>
                </div>

                <div class="form-group">
                    <label for="forecast_date" class="control-label">Forecast Date:</label>
                    <datepicker v-model="item.forecast_date" name="forecast_date" id="forecast_date" input-class="form-control" required format="dd/MM/yyyy"></datepicker>
                </div>

                <div class="form-group">
                    <label for="completed_date" class="control-label">Completed Date:</label>
                    <datepicker v-model="item.completed_date" name="completed_date" id="completed_date" input-class="form-control" required format="dd/MM/yyyy"></datepicker>
                </div>

                <div class="form-group">
                    <input v-if="!item.id" type="submit" class="btn btn-success" value="Create" />
                    <input v-if="item.id" type="submit" class="btn btn-success" value="Update" />
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications'
    import Datepicker from 'vuejs-datepicker';
    import vSelect from 'vue-select';

    let paths = {
        index: '/projects/deliverable/create/load',
        create: '/projects/deliverable/create',
        get: '/projects/deliverable/get/',
        update: '/projects/deliverable/update/',
    };

    export default {
        components: {
            Datepicker, vSelect
        },
        data: () => ({
            item: {
                id: undefined,
                title: undefined,
                description: undefined,
                due_date: undefined,
                forecast_date: undefined,
                completed_date: undefined,
                project_id: undefined,
                level_id: undefined
            },
            levels: [],
        }),

        mounted() {
            window.onLoad();

            this.item.project_id = this.$route.query.project_id;
            this.item.id = this.$route.params.deliverable;

            axios.get(paths.index)
                .then(response => {
                    this.levels = response.data.levels;

                    if (this.item.id !== undefined) {
                        this.loadDeliverable();
                    }
                })
                .catch(e => {
                    return VueNotifications.error({message: e.response.data.message});
                })
            ;
        },

        methods: {
            loadDeliverable() {
                axios.get(paths.get + this.item.id)
                    .then(response => {
                        this.item = response.data.deliverable;
                    })
                ;
            },

            onSubmit() {
                if (!this.item.level || !this.item.forecast_date || !this.item.due_date || !this.item.completed_date) {
                    return VueNotifications.error({message: 'Please fill the form, all fields are required'});
                }

                this.item.level_id = this.item.level.id;

                if (this.item.id) {
                    var path = paths.update + this.item.id;
                    var message = 'Deliverable was updated';
                } else {
                    var path = paths.create;
                    var message = 'Deliverable was created';
                }

                axios.post(path, this.item)
                    .then(response => {
                        VueNotifications.success({message: message});

                        this.$nextTick(function() {
                            this.$router.push('/projects/view/' + response.data.deliverable.project_id);
                        });
                    })
                    .catch(e => {
                        return VueNotifications.error({message: e.response.data.message});
                    })
                ;
            }
        }
    }
</script>